In [3]:
#imports
import pandas as pd 
from tqdm.notebook import tqdm

In [83]:
def get_yearly_avgs():
    df = pd.read_csv('/Users/armaan/src/bbox/mdata/final_result/master_table.csv') 
    
    years_avgs = []
    for yr in df.year.unique():
        yr_avg = {'year' : yr}
        yr_avg['bb_score'] = df[df.year == yr].bb_score.mean()
        yr_avg['ww_box_office'] = df[df.year == yr].worldwide_box_office.mean()
        yr_avg['production_budget'] = df[df.year == yr].production_budget.mean()
        yr_avg['bb_profit'] = df[df.year == yr].bb_profit.mean()

        years_avgs.append(yr_avg)

    return pd.DataFrame(years_avgs)
    
dfyears = get_yearly_avgs()
dfyears

    year  bb_score  ww_box_office  production_budget     bb_profit
0   2019     72.04  1323194681.80       198200000.00 1124994681.80
1   2010     64.02   869317583.17       153833333.33  715484249.83
2   2014     61.32   695557871.67       117666666.67  577891205.00
3   2018     72.01  1313354076.50       190000000.00 1123354076.50
4   2009     69.82  1195891181.40       184400000.00 1011491181.40
5   2015     74.01  1446376483.67       220833333.33 1225543150.33
6   2016     65.17   946208673.78       171777777.78  774430896.00
7   2017     65.91   960832150.00       148750000.00  812082150.00
8   2013     66.50   998444569.20       156200000.00  842244569.20
9   1982     65.33   792965326.00        10500000.00  782465326.00
10  2003     65.57   903721601.00       109333333.33  794388267.67
11  1994     65.01   833026564.00        67150000.00  765876564.00
12  2011     71.02  1232743618.00       160000000.00 1072743618.00
13  2005     63.20   822212747.67       148333333.33  673879414.33
14  2007     62.92   863392128.00       203800000.00  659592128.00
15  2001     65.95   931129295.50       117000000.00  814129295.50
16  1996     64.55   817400878.00        75000000.00  742400878.00
17  2008     61.88   791772084.33       185333333.33  606438751.00
18  1993     69.25  1045627627.00        63000000.00  982627627.00
19  2006     66.48  1066215812.00       225000000.00  841215812.00
20  2004     63.44   784274502.33        98333333.33  685941169.00
21  2012     66.88  1039738458.67       178533333.33  861205125.33
22  2002     63.44   802000079.67       116000000.00  686000079.67
23  1999     65.14   849925484.50        77500000.00  772425484.50
24  1977     64.98   775398007.00        11000000.00  764398007.00
25  1980     60.29   547969004.00        23000000.00  524969004.00
26  1983     58.67   475106177.00        32500000.00  442606177.00
27  1997     89.35  2208208395.00       200000000.00 2008208395.00

In [85]:
dfyears.to_csv('/Users/armaan/src/bbox/mdata/final_result/yearly_avgs.csv', index=False)