In [53]:
#imports
import pandas as pd 
from tqdm.notebook import tqdm
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df = pd.read_csv('/Users/armaan/src/bbox/mdata/final_result/master_table.csv')
df.drop(["bb_profit_multiple_score", "bb_profit_multiple"], axis=1, inplace = True)

In [54]:
new_df = df
bins = [1980,1985,1990,1995,2000, 2005, 2010, 2015, 2020]
new_df['binned'] = pd.cut(new_df['year'], bins)
year_df = df.groupby('binned').mean()
genre_df = df.groupby('genre').mean()
genre_df
genre_df.drop(["year"], axis=1, inplace = True)
genre_df.to_csv('/Users/armaan/src/bbox/mdata/final_result/genre_table.csv')

In [55]:
genres = df.genre.unique()
dfs = []
for g in genres:
    dfgenre = df[df.genre == g]
    dfgenre['binned'] = pd.cut(dfgenre['year'], bins)
    dfgmean = dfgenre.groupby('binned').mean()
    dfgmean['genre'] = g
    dfs.append(dfgmean)
len(dfs)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

11

In [56]:
dfall = pd.concat(dfs)
dfall

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,legs,production_budget,theater_counts,running_time,imdb_score,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,,,
"(1980, 1985]",1983.25,231757797.75,158533030.00,390290827.75,16998671.25,3.78,24875000.00,20.25,120.50,8.20,365415827.75,14.32,40.02,Adventure
"(1985, 1990]",1989.00,162183404.33,180373864.33,342557268.67,24552059.67,3.78,43833333.33,12.30,107.67,7.57,298723935.33,11.71,38.19,Adventure
"(1990, 1995]",1993.00,191869706.12,227845117.12,419714823.25,16450676.88,3.78,45537500.00,12.37,106.50,7.35,374177323.25,14.66,40.26,Adventure
"(1995, 2000]",1998.18,174405367.35,223406434.41,397811801.76,26285547.76,3.78,87941176.47,9.93,106.19,6.99,309870625.29,12.14,38.50,Adventure
"(2000, 2005]",2003.17,228504030.85,305313524.00,533817554.85,56614482.92,3.78,107225000.00,8.19,119.95,6.98,426592554.85,16.72,41.70,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(1995, 2000]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Black
"(2000, 2005]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Black
"(2005, 2010]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Black
"(2010, 2015]",2013.00,133523819.50,190365103.50,323888923.00,9575261.00,3.78,70000000.00,7.70,151.50,7.70,253888923.00,9.95,36.96,Black
"(2015, 2020]",2019.00,104963598.00,45523169.00,150486767.00,33181361.00,3.78,20700000.00,5.40,110.00,6.30,129786767.00,5.09,33.56,Black

In [57]:
year_df['genre'] = 'All'
year_df

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,legs,production_budget,theater_counts,running_time,imdb_score,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,,,
"(1980, 1985]",1983.33,230860747.00,137530090.78,368390837.78,13924582.44,3.78,19222222.22,20.38,112.50,7.69,349168615.56,13.68,39.58,All
"(1985, 1990]",1988.61,152111362.57,147603289.96,299714652.52,16197713.09,3.78,30056521.74,14.32,117.29,7.14,269658130.78,10.57,37.40,All
"(1990, 1995]",1993.34,144360652.52,175975979.38,320336631.90,21183394.54,3.78,48794000.00,10.74,120.51,7.20,271542631.90,10.64,37.45,All
"(1995, 2000]",1998.29,145313483.65,164432859.89,309746343.55,26798371.19,3.78,68549452.94,9.86,118.92,6.77,241196890.61,9.45,36.62,All
"(2000, 2005]",2002.99,157103771.22,167061191.68,324164962.90,39736252.30,3.78,76090378.19,7.55,119.54,6.62,248074584.71,9.72,36.81,All
"(2005, 2010]",2008.20,163700045.15,221045409.25,384745454.40,45460367.17,3.78,100156804.73,6.64,113.24,6.69,284588649.66,11.15,37.81,All
"(2010, 2015]",2013.03,174037264.34,279364720.86,453401985.21,51904698.66,3.78,107922751.32,6.43,117.44,6.82,345479233.88,13.54,39.48,All
"(2015, 2020]",2017.48,210363286.24,346414593.25,556777879.49,64767179.30,3.78,116895744.68,6.41,118.84,6.88,439882134.81,17.24,42.07,All

In [58]:
year_df.to_csv('/Users/armaan/src/bbox/mdata/final_result/binned_table.csv')

In [59]:
df_final_means = pd.concat([dfall, year_df])
df_final_means.info()

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 96 entries, (1980, 1985] to (2015, 2020]
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      70 non-null     float64
 1   domestic_box_office       70 non-null     float64
 2   international_box_office  70 non-null     float64
 3   worldwide_box_office      70 non-null     float64
 4   opening_weekend           70 non-null     float64
 5   legs                      70 non-null     float64
 6   production_budget         70 non-null     float64
 7   theater_counts            70 non-null     float64
 8   running_time              70 non-null     float64
 9   imdb_score                70 non-null     float64
 10  bb_profit                 70 non-null     float64
 11  bb_profit_score           70 non-null     float64
 12  bb_score                  70 non-null     float64
 13  genre                     88 non-null     object
dtypes: float64(13), object(1)
memory usage: 11.0+ KB

In [60]:
df_final_means

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,legs,production_budget,theater_counts,running_time,imdb_score,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,,,
"(1980, 1985]",1983.25,231757797.75,158533030.00,390290827.75,16998671.25,3.78,24875000.00,20.25,120.50,8.20,365415827.75,14.32,40.02,Adventure
"(1985, 1990]",1989.00,162183404.33,180373864.33,342557268.67,24552059.67,3.78,43833333.33,12.30,107.67,7.57,298723935.33,11.71,38.19,Adventure
"(1990, 1995]",1993.00,191869706.12,227845117.12,419714823.25,16450676.88,3.78,45537500.00,12.37,106.50,7.35,374177323.25,14.66,40.26,Adventure
"(1995, 2000]",1998.18,174405367.35,223406434.41,397811801.76,26285547.76,3.78,87941176.47,9.93,106.19,6.99,309870625.29,12.14,38.50,Adventure
"(2000, 2005]",2003.17,228504030.85,305313524.00,533817554.85,56614482.92,3.78,107225000.00,8.19,119.95,6.98,426592554.85,16.72,41.70,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(1995, 2000]",1998.29,145313483.65,164432859.89,309746343.55,26798371.19,3.78,68549452.94,9.86,118.92,6.77,241196890.61,9.45,36.62,All
"(2000, 2005]",2002.99,157103771.22,167061191.68,324164962.90,39736252.30,3.78,76090378.19,7.55,119.54,6.62,248074584.71,9.72,36.81,All
"(2005, 2010]",2008.20,163700045.15,221045409.25,384745454.40,45460367.17,3.78,100156804.73,6.64,113.24,6.69,284588649.66,11.15,37.81,All
"(2010, 2015]",2013.03,174037264.34,279364720.86,453401985.21,51904698.66,3.78,107922751.32,6.43,117.44,6.82,345479233.88,13.54,39.48,All
"(2015, 2020]",2017.48,210363286.24,346414593.25,556777879.49,64767179.30,3.78,116895744.68,6.41,118.84,6.88,439882134.81,17.24,42.07,All