In [243]:
#imports
import pandas as pd 
from pandas import DataFrame
from slugify import slugify
import requests
from tqdm.notebook import tqdm
from time import sleep
from bs4 import BeautifulSoup as bs
import json
from datetime import datetime
import webbrowser
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import numpy as np
from time import sleep

In [244]:
#getting both csv files 
movie_details = pd.read_csv('/Users/armaan/src/bbox/mdata/thenum/movie_details.csv') 
imdb_movies = pd.read_csv('/Users/armaan/src/bbox/mdata/imdb/imdb_movies.csv') 
#converting names to lower and some cols to int
movie_details['name_lower'] = movie_details['name'].str.lower()
imdb_movies['year'] = pd.to_numeric(imdb_movies.startYear, errors='coerce')
imdb_movies['primaryTitle_lower'] = imdb_movies['primaryTitle'].str.lower()
imdb_movies['runtimeMinutes'] = pd.to_numeric(imdb_movies.runtimeMinutes, errors='coerce')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [245]:
#normalization
def normalize(x):
    if x:
        #for star wars
        x = x.replace('-ep-', '-episode-')
        #for harry potter
        x = x.replace('part-ii', 'part-2')
        x = x.replace('part-i', 'part-1')
        #for e.t. only!
        if x.startswith('et-'):
            x = x.replace('et-', 'e-t-')
        #for rise of skywalker only!
        if x == 'star-wars-the-rise-of-skywalker':
            x = "star-wars-episode-ix-the-rise-of-skywalker"
    return x

#find duplicates
def duplicate_scraper(imdb_id):
    r = requests.get("https://www.imdb.com/title/{}/".format(imdb_id))
    soup = bs(r.text)
    box_office = soup.find("div",{"id": "titleDetails"})
    all_h4 = box_office.findAll("h4")
    drop = True
    for h4 in all_h4:
        if h4.string == "Gross USA:":
            drop = False
            break
    return drop

In [246]:
#sluggifying and normalizing all names
movie_details['name_slug'] = movie_details.name_lower.apply(slugify)
imdb_movies['name_slug'] = imdb_movies.primaryTitle_lower.apply(slugify)
movie_details['name_slug'] = movie_details.name_slug.apply(normalize)
#creating new df with updated values
new_df = pd.merge(movie_details, imdb_movies, how ='inner', right_on = ['name_slug', 'year'], left_on = ['name_slug', 'year'])

In [247]:
#find duplicates and get rid of them
duplicates = new_df[new_df.name.duplicated()]
for index, row in tqdm(duplicates.iterrows()):
    match = new_df[(new_df['name'] == row["name"]) & (new_df['year'] == row["year"])]
    if len(match) > 1:
        imdb_ids = match["tconst"]
        for imdb_id in imdb_ids:
            drop = duplicate_scraper(imdb_id)
            if drop == True:
                new_df.drop( new_df[ new_df['tconst'] == imdb_id ].index , inplace=True)

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [248]:
#drops
new_df[new_df.tconst != 'tt11861230']
new_df.drop(["endYear", "isAdult", "titleType", "startYear", "primaryTitle_lower", "runtimeMinutes", "genres", "name_lower", "primaryTitle", "originalTitle"], axis=1, inplace = True)

In [249]:
#drop movies with missing information
new_df
new_df2 = new_df.dropna(subset=['domestic_box_office', 'international_box_office', 'worldwide_box_office', 'production_budget', 'opening_weekend'])
new_df = new_df2

In [250]:
#get poster path and add it to new col in df
poster_link_list = []
for p in tqdm(new_df['tconst']):
    tmdb = requests.get("https://api.themoviedb.org/3/movie/{}?api_key=a6837e56522d89b354d01b07e393bebc&language=en-US".format(p))
    try:
        poster_path = tmdb.json()['poster_path']
        poster_link = "https://image.tmdb.org/t/p/w300_and_h450_bestv2/{}".format(poster_path)
    except:
        if p:
            print ("no poster for " + p)
    poster_link_list.append(poster_link)

new_df["poster_path"] = poster_link_list

HBox(children=(FloatProgress(value=0.0, max=843.0), HTML(value='')))

In [251]:
#get similar movies
def get_matching_similar(df_movies, simlist, how_many=5):
    matching_movies = []
    result_cnt = min(len(simlist), how_many)
    for s in simlist:
        try:
            title = s['title']
            release = int(s['release_date'][:4])
            if len(df_movies[(df_movies.name == title) & (df_movies.year == release)]) == 1:
                poster_path = new_df.loc[new_df['name'] == title, 'poster_path'].values[0]
                name = new_df.loc[new_df['name'] == title, 'name'].values[0]
                movie_link = "{}^{}".format(title, release)
                matching_movies.append({'name': name, 'link': movie_link, 'poster' : poster_path})
                
                if len(matching_movies) >= how_many:
                    break
        except Exception as ex:
            print(ex)

            
    return matching_movies


similar_movies_list = []
x = 0
for t in tqdm(new_df['tconst']):
    turl = "https://api.themoviedb.org/3/movie/{}/similar?api_key=a6837e56522d89b354d01b07e393bebc&language=en-US&page=1".format(t)
    tmdb = requests.get(turl)
    if 'results' in tmdb.json():
        sim_list = tmdb.json()['results']
    else:
        sim_list = []
    similar_movies_list.append(get_matching_similar(new_df, sim_list, how_many=5))
#     x = x+1
#     if x > 3:
#         break
        
new_df["similar_movies"] = similar_movies_list

HBox(children=(FloatProgress(value=0.0, max=843.0), HTML(value='')))

'release_date'
'release_date'
'release_date'
'release_date'
'release_date'
'release_date'
invalid literal for int() with base 10: ''
'release_date'
invalid literal for int() with base 10: ''

In [252]:
#scrape for imdb score
imdb_scores = []
x = 0
for t in tqdm(new_df['tconst']):
    r = requests.get("https://www.imdb.com/title/{}/".format(t))
    soup = bs(r.text)
    score_section = soup.find("span", {"itemprop": "ratingValue"})
    score = score_section.string
    imdb_scores.append(score)
#     x = x+1
#     if x > 3:
#         break
     
new_df["imdb_score"] = imdb_scores

HBox(children=(FloatProgress(value=0.0, max=843.0), HTML(value='')))

In [253]:
#get metascore (next use - july26)
# meta_scores = []
# x = 0
# for t in tqdm(new_df['tconst']):
#     url = "http://www.omdbapi.com/?apikey=581c8a90&i={}".format(t)
#     omdb = requests.get(url)
#     info = omdb.json()
#     if info['Metascore']:
#         meta_score = info['Metascore']
#     else:
#         meta_score = "N/A"
#     meta_scores.append(meta_score)
# #     x = x+1
# #     if x > 3:
# #         break


# new_df["meta_score"] = meta_scores

HBox(children=(FloatProgress(value=0.0, max=843.0), HTML(value='')))

In [257]:
#make score
bbox_df = new_df2

bbox_df['bb_profit'] = bbox_df.worldwide_box_office - bbox_df.production_budget
bbox_df['bb_profit_multiple'] = bbox_df.worldwide_box_office/bbox_df.worldwide_box_office

bbox_df['bb_profit_score'] = (bbox_df.bb_profit / bbox_df.bb_profit.max()) * 100
bbox_df['bb_profit_multiple_score'] = (bbox_df.bb_profit_multiple / bbox_df.bb_profit_multiple.max()) * 100

bbox_df['bb_score'] = (bbox_df['bb_profit_score']*0.7 + bbox_df['bb_profit_multiple_score']*0.3)

In [263]:
#find box office shares

bbox_df["domestic_share"] = bbox_df.domestic_box_office / bbox_df.worldwide_box_office * 100
bbox_df["international_share"] = bbox_df.international_box_office / bbox_df.worldwide_box_office * 100
bbox_df.T

,0,1,2,3,4,5,6,7,8,9,...,938,939,940,942,943,944,945,946,947,948
name,Star Wars Ep. VII: The Force Awakens,Avengers: Endgame,Avatar,Black Panther,Avengers: Infinity War,Titanic,Jurassic World,The Avengers,Star Wars Ep. VIII: The Last Jedi,Incredibles 2,...,Zookeeper,What Happens in Vegas...,The Dukes of Hazzard,Saw III,Nacho Libre,Jumper,The Mummy,Jack Reacher,Goosebumps,Cloverfield
year,2015,2019,2009,2018,2018,1997,2015,2012,2017,2018,...,2011,2008,2005,2006,2006,2008,2017,2012,2015,2008
domestic_box_office,936662225,858373000,760507625,700059566,678815482,659363944,652270625,623357910,620181382,608581744,...,80360866,80277646,80270227,80238724,80197993,80172128,80101125,80070736,80069458,80048433
international_box_office,1131561399.00,1939427564.00,2028193712.00,646853595.00,1369544272.00,1548844451.00,1018130012.00,891742301.00,712358507.00,634223615.00,...,90444659.00,138258062.00,29578234.00,83638091.00,19098469.00,142468684.00,329852780.00,137300000.00,78835866.00,91253793.00
worldwide_box_office,2068223624.00,2797800564.00,2788701337.00,1346913161.00,2048359754.00,2208208395.00,1670400637.00,1515100211.00,1332539889.00,1242805359.00,...,170805525.00,218535708.00,109848461.00,163876815.00,99296462.00,222640812.00,409953905.00,217370736.00,158905324.00,171302226.00
opening_weekend,247966675.00,357115007.00,77025481.00,202003951.00,257698183.00,28638131.00,208806270.00,207438708.00,220009584.00,182687905.00,...,20065617.00,20172474.00,30675314.00,33610391.00,28309599.00,27354808.00,31668375.00,15210156.00,23618556.00,40058229.00
legs,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,...,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
production_budget,306000000.00,400000000.00,237000000.00,200000000.00,300000000.00,200000000.00,215000000.00,225000000.00,200000000.00,200000000.00,...,80000000.00,35000000.00,53000000.00,10000000.00,32000000.00,82500000.00,195000000.00,60000000.00,58000000.00,25000000.00
theater_counts,9.20,8.10,13.20,9.90,7.70,26.80,8.50,8.70,6.70,9.10,...,5.10,5.90,5.10,4.20,4.70,5.00,3.70,5.00,5.80,4.40
mpaa_rating,PG-13,PG-13,PG-13,PG-13,PG-13,PG-13,PG-13,PG-13,PG-13,PG,...,PG,PG-13,NaN,R,PG,PG-13,PG-13,PG-13,PG,PG-13
running_time,136.00,181.00,162.00,120.00,156.00,194.00,124.00,143.00,150.00,118.00,...,101.00,98.00,NaN,NaN,90.00,88.00,107.00,130.00,103.00,85.00
genre,Adventure,Action,Action,Action,Action,Thriller/Suspense,Action,Action,Adventure,Adventure,...,Romantic,Romantic,NaN,Horror,Comedy,Adventure,Adventure,Drama,Horror,Action
production_method,Animation/Live Action,Animation/Live Action,Animation/Live Action,Live Action,Animation/Live Action,Live Action,Live Action,Animation/Live Action,Animation/Live Action,Digital Animation,...,Animation/Live Action,Live Action,NaN,Live Action,Live Action,Live Action,Live Action,Live Action,Animation/Live Action,Live Action
creative_type,Science Fiction,Super Hero,Science Fiction,Super Hero,Super Hero,Historical Fiction,Science Fiction,Super Hero,Science Fiction,Kids Fiction,...,Fantasy,Contemporary Fiction,NaN,Contemporary Fiction,Contemporary Fiction,Science Fiction,Historical Fiction,Contemporary Fiction,Fantasy,Science Fiction
production_companies,Lucasfilm,Marvel Studios,Dune Entertainment,Marvel Studios,Marvel Studios,20th Century Fox,Universal Pictures,Marvel Studios,Lucasfilm,Disney-Pixar,...,Columbia Pictures,20th Century Fox,NaN,NaN,Nickelodeon Films,Regency Enterprises,Universal Pictures,Paramount Pictures,Columbia Pictures,Bad Robot
synopsis,"Rey, a scavenger from the planet Jakku, and re...",The grave course of events set in motion by Th...,"Jake Sully is a wounded ex-marine, thrust into...","King T'Challa returns home to the reclusive, t...",As the Avengers and their allies have continue...,NaN,Visitors at the Jurassic World theme park run ...,When an unexpected enemy emerges that threate...,The Skywalker saga continues as the heroes of ...,Everyone's favorite family of superheroes is b...,...,"In Zookeeper, the animals at the Franklin Park...",NaN,NaN,NaN,NaN,NaN,Thought safely entombed in a tomb deep beneath...,Six shots. Five dead. One heartland city throw...,Upset about moving from a big city to a small ...,NaN
link,https://www.the-numbers.com/movie/Star-Wars-Ep...,https://www.the-numbers.com/movie/Avengers-End...,https://www.the-numbers.com/movie/Avatar#tab=s...,https://www.the-numbers.com/movie/Black-Panthe...,https://www.the-numbers.com/movie/Avengers-Inf...,https://www.the-numbers.com/movie/Titanic-(199...,https://www.the-numbers.com/movie/Jurassic-Wor...,https://www.the-numbers.com/movie/Avengers-The...,https://www.the-numbers.com/movie/Star-Wars-Ep...,https://www.the-numbers.com/movie/Incredibles-...,...,https://www.the-numbers.com/movie/Zookeeper#ta...,https://www.the-numbers.com/movie/What-Happens...,https://www.the-numbers.com/movie/Dukes-of-Haz...,https://www.the-numbers.com/movie/Saw-III#tab=...,https://www.the-numbers.com/movie/Nacho-Libre#...,https://www.the-numbers.com/movie/Jumper#tab=s...,https://www.the-numbers.com/movie/Mummy-The-(2...,https://www.the-numbers.com/movie/Jack-Reacher...,https://www.the-numbers.com/movie/Goosebumps#t...,https://www.the-numbers.com/movie/Cloverfield#...
name_slug,star-wars-episode-vii-the-force-awakens,avengers-endgame,avatar,black-panther,avengers-infinity-war,titanic,jurassic-world,the-avengers,star-wars-episode-viii-the-last-jedi,incredibles-2,...,zookeeper,what-happens-in-vegas,the-dukes-of-hazzard,saw-iii,nacho-libre,jumper,the-mummy,jack-reacher,goosebumps,cloverfield
tconst,tt2488496,tt4154796,tt0499549,tt1825683,tt4154756,tt0120338,tt0369610,tt0848228,tt2527336,tt3606756,...,tt1222817,tt1033643,tt0377818,tt0489270,tt0457510,tt0489099,tt2345759,tt0790724,tt1051904,tt1060277
poster_path,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...,https://image.tmdb.org/t/p/w300_and_h450_bestv...
similar_movies,"[{'name': 'Star Trek Into Darkness', 'link': '...","[{'name': 'Captain Marvel', 'link': 'Captain M...","[{'name': 'Interstellar', 'link': 'Interstella...","[{'name': 'X-Men: Apocalypse', 'link': 'X-Men:...","[{'name': 'Captain Marvel', 'link': 'Captain M...","[{'name': 'Vanilla Sky', 'link': 'Vanilla Sky^...","[{'name': 'Jurassic Park', 'link': 'Jurassic P...","[{'name': 'X-Men: Apocalypse', 'link': 'X-Men:...","[{'name': 'Aladdin', 'link': 'Aladdin^2019', '...","[{'name': 'Superman', 'link': 'Superman^1978',...",...,"[{'name': 'Madagascar: Escape 2 Africa', 'link...","[{'name': 'Neighbors', 'link': 'Neighbors^2014...","[{'name': 'Rango', 'link': 'Rango^2011', 'post...","[{'name': 'The Texas Chainsaw Massacre', 'link...","[{'name': 'The Longest Yard', 'link': 'The Lon...","[{'name': 'Batman Begins', 'link': 'Batman Beg...","[{'name': 'Cloverfield', 'link': 'Cloverfield^...","[{'name': 'The General's Daughter', 'link': 'T...",[{'name': 'Harry Potter and the Goblet of Fire...,"[{'name': 'Godzilla', 'link': 'Godzilla^2014',..."
imdb_score,7.9,8.4,7.8,7.3,8.4,7.8,7.0,8.0,7.0,7.6,...,5.2,6.1,5.1,6.2,5.7,6.1,5.4,7.0,6.3,7.0
meta_score,80,78,83,88,68,75,59,69,84,80,...,30,36,33,48,52,35,34,50,60,64
bb_profit,1762223624.00,2397800564.00,2551701337.00,1146913161.00,1748359754.00,2008208395.00,1455400637.00,1290100211.00,1132539889.00,1042805359.00,...,90805525.00,183535708.00,56848461.00,153876815.00,67296462.00,140140812.00,214953905.00,157370736.00,100905324.00,146302226.00
bb_profit_multiple,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
bb_profit_score,69.06,93.97,100.00,44.95,68.52,78.70,57.04,50.56,44.38,40.87,...,3.56,7.19,2.23,6.03,2.64,5.49,8.42,6.17,3.95,5.73
bb_profit_multiple_score,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
bb_score,78.34,95.78,100.00,61.46,77.96,85.09,69.93,65.39,61.07,58.61,...,32.49,35.03,31.56,34.22,31.85,33.84,35.90,34.32,32.77,34.01
domestic_share,45.29,30.68,27.27,51.98,33.14,29.86,39.05,41.14,46.54,48.97,...,47.05,36.73,73.07,48.96,80.77,36.01,19.54,36.84,50.39,46.73
international_share,54.71,69.32,72.73,48.02,66.86,70.14,60.95,58.86,53.46,51.03,...,52.95,63.27,26.93,51.04,19.23,63.99,80.46,63.16,49.61,53.27

In [264]:
#downloads df to csv
bbox_df = bbox_df[~bbox_df.worldwide_box_office.isnull()]
bbox_df.to_csv('/Users/armaan/src/bbox/mdata/final_result/master_table.csv', index=False)