In [14]:
import requests
from bs4 import BeautifulSoup as bs
from tqdm.notebook import tqdm

In [15]:
link = "https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/all-time"
page = 101
top_100 = []
for x in tqdm(range(1, 26)):
    r = requests.get(link)
    soup = bs(r.text, 'html.parser')
    main_table = soup.find("table")
    link = "https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/all-time/{}".format(page)
    page += 100
    for a in main_table.find_all('a'):  
        movie = {}
        if 'summary' in a['href']:
            movie['link'] = "https://www.the-numbers.com" + a['href']
            movie['title'] = a.string
            #print("{} : {}".format(title, link))
            top_100.append(movie)
        
len(top_100)

HBox(children=(FloatProgress(value=0.0, max=25.0), HTML(value='')))

2500

In [16]:
import pandas as pd
df = pd.DataFrame(top_100)
df

,link,title
0,https://www.the-numbers.com/movie/Star-Wars-Ep...,Star Wars Ep. VII: The Force Awakens
1,https://www.the-numbers.com/movie/Avengers-End...,Avengers: Endgame
2,https://www.the-numbers.com/movie/Avatar#tab=s...,Avatar
3,https://www.the-numbers.com/movie/Black-Panthe...,Black Panther
4,https://www.the-numbers.com/movie/Avengers-Inf...,Avengers: Infinity War
...,...,...
2495,https://www.the-numbers.com/movie/Concussion-(...,Concussion
2496,https://www.the-numbers.com/movie/Courageous#t...,Courageous
2497,https://www.the-numbers.com/movie/Woodstock#ta...,Woodstock
2498,https://www.the-numbers.com/movie/Monster#tab=...,Monster
2499,https://www.the-numbers.com/movie/Doors-The#ta...,The Doors

In [17]:
df[['title','link']].to_csv('/Users/armaan/src/bbox/mdata/thenum/top_level_movies.csv', index=False)